@using System.Text.Json
@using System.Text.Json.Serialization
@using Microsoft.Extensions.Logging
@using NodaTime
@using NodaTime.Serialization.SystemTextJson
@using QuantInfra.Common.Interfaces.Api
@using QuantInfra.Common.Interfaces.Api.Strategies
@using QuantInfra.Sdk.Accounts
@using QuantInfra.Sdk.MarketData
@using QuantInfra.Sdk.Strategies
@using UI.Interfaces
@using UI.Interfaces.Strategies

@inject IUiStrategiesRepository Repository
@inject ILogger Logger

<CreateItemForm TItem="CreateStrategyRequest"
                CreateFunc="@(_ => CreateStrategy())"
                OnCompleted="@OnCompleted"
                @bind-IsLoading=@_isLoading
                CreateButtonDisabled="@(!_canCreateStrategy)"
                OnInvalidSubmit="@OnInvalidSubmit">
    <Fields Context="request">
        <RadzenRow>
            <RadzenColumn Size="12">
                <RadzenAccordion Multiple="false">
                    <Items>
                        <RadzenAccordionItem Text="Insert config" @bind-Selected=@_jsonSelected>
                            <RadzenStack>
                                <RadzenRow>
                                    <RadzenButton Text="Get sample config" 
                                                  ButtonStyle="ButtonStyle.Info"
                                                  Variant="Variant.Text"
                                                  Click=@GetSampleParams  
                                                  Disabled=@(_isLoading) />
                                    <RadzenButton Text="Parse and validate" 
                                                  ButtonStyle="ButtonStyle.Primary"
                                                  Variant="Variant.Text"
                                                  Click=@ParseStrategyConfigJson  
                                                  Disabled=@(_isLoading) />
                                </RadzenRow>
                                <RadzenRow>
                                    <RadzenFormField Variant="Variant.Text" Text="JSON" Style="width: 100%;">
                                        <RadzenTextArea Rows="30" Style="width: 100%;" @bind-Value=@_content />
                                    </RadzenFormField>
                                </RadzenRow>
                                @if (_parseError != null || _missingFieldDetails != null)
                                {
                                    if (_parseError != null)
                                    {
                                        <RadzenRow>
                                            <RadzenAlert AllowClose="false" AlertStyle="AlertStyle.Danger"
                                                         Variant="Variant.Flat" Shade="Shade.Lighter">
                                                @_parseError
                                            </RadzenAlert>
                                        </RadzenRow>
                                    }

                                    if (_missingFieldDetails != null)
                                    {
                                        foreach (var missingField in _missingFieldDetails.Errors.SelectMany(kv => kv.Value.Select(i => $"{kv.Key}: {i}")))
                                        {
                                            <div class="rz-message rz-messages-error">@missingField</div>
                                        }
                                    }
                                }
                                else if (_request != null)
                                {
                                    <RadzenRow>
                                        <RadzenAlert AllowClose="false" AlertStyle="AlertStyle.Success" Variant="Variant.Flat" Shade="Shade.Lighter">
                                            OK
                                        </RadzenAlert>
                                    </RadzenRow>
                                }
                            </RadzenStack>
                        </RadzenAccordionItem>
                        <RadzenAccordionItem Text="Validate" Disabled=@(_request == null) @bind-Selected=@_validateSelected>
                            <RadzenStack Gap="1rem">
                
                                <RadzenRow>
                                    <ValidateStrategyRequest OnValidated=@(success => _canCreateStrategy = success) @ref=@_validate />
                                </RadzenRow>
                
                                @if (_createError != null)
                                {
                                    <RadzenRow>
                                        <RadzenAlert AllowClose="false" AlertStyle="AlertStyle.Danger" Variant="Variant.Flat" Shade="Shade.Lighter">
                                            @_createError
                                        </RadzenAlert>
                                    </RadzenRow>
                                }
                            </RadzenStack>
                        </RadzenAccordionItem>
                    </Items>
                </RadzenAccordion>
            </RadzenColumn>
        </RadzenRow>
    </Fields>
</CreateItemForm>

@code {
    private bool _isLoading;
    CreateStrategyRequest? _request;
    string? _parseError = null;
    private ValidationProblemDetails? _missingFieldDetails = null;
    
    string _content;
    private bool _jsonSelected = true, _validateSelected;
    private bool _canCreateStrategy = false;
    private string? _createError = null;
    private ValidateStrategyRequest _validate;

    [Parameter] public EventCallback OnCompleted { get; set; }
    
    private static Lazy<JsonSerializerOptions> _jsonSerializerOptions = new Lazy<JsonSerializerOptions>(() =>
    {
        var options = new JsonSerializerOptions()
        {
            AllowTrailingCommas = true,
            NumberHandling = JsonNumberHandling.AllowNamedFloatingPointLiterals | JsonNumberHandling.AllowReadingFromString,
            WriteIndented = true,
        };
        options.ConfigureForNodaTime(DateTimeZoneProviders.Tzdb);
        options.Converters.Add(new JsonStringEnumConverter());
        return options;
    });

    private async Task ParseStrategyConfigJson()
    {
        if (string.IsNullOrEmpty(_content)) return;
        _request = null;
        _parseError = null;
        _missingFieldDetails = null;
        _canCreateStrategy = false;
        _createError = null;
        try
        {
            _request = JsonSerializer.Deserialize<CreateStrategyRequest>(_content, _jsonSerializerOptions.Value);
            _jsonSelected = false;
            _validateSelected = true;
        }
        catch (Exception e)
        {
            _parseError = e.Message;
            return;
        }
        
        try
        {
            _canCreateStrategy = await _validate.Validate(_request!);
            _jsonSelected = false;
            _validateSelected = true;
        }
        catch (ValidationException e)
        {
            _missingFieldDetails = e.Details;
            _validateSelected = false;
            _jsonSelected = true;
        }
    }

    private async Task CreateStrategy()
    {
        if (!_canCreateStrategy || _request == null) return;
        _isLoading = true;
        _createError = null;

        try
        {
            await Repository.CreateStrategy(_request);
            await OnCompleted.InvokeAsync();
        }
        catch (Exception e)
        {
            _createError = e.Message;
        }
        finally
        {
            _isLoading = false;
        }
    }

    private void GetSampleParams()
    {
        _content = JsonSerializer.Serialize( 
            new CreateStrategyRequest()
            {
                Name = "Strategy name",
                Account = new()
                {
                    AccountType = AccountType.StrategySubAccount,
                    AccountServiceName = "AS",
                    CurrencyId = 840,
                    EnableSharePriceTracking = true,
                    PositionAccounting = PositionAccounting.Netted,
                },
                ClassName = "Full name of the strategy class (including the namespace)",
                Params = AlgorithmParams.SerializeParams(new SampleStrategyParams()),
                RequiredBarStorages = new()
                {
                    { "main", new BarStorageConfig() { IdType = IdType.Contract, Id = 10000, Timeframe = Period.FromMinutes(15) } }
                },
                Symbols = new()
                {
                    { "main", 10000 }
                },
                StartImmediately = true,
                StrategyServiceName = "SS"
            },
            _jsonSerializerOptions.Value
        );
    }

    class SampleStrategyParams
    {
        public int MovingAverageWindow { get; set; } = 10;
        public decimal Threshold { get; set; } = 0.8m;
    }

    // TODO: HACK: the model is not updated inside CreateItemForm, so it remains invalid
    private Task OnInvalidSubmit(FormInvalidSubmitEventArgs arg) => CreateStrategy();
}
