@using Microsoft.Extensions.Logging
@using QuantInfra.Sdk.Accounting
@using UI.Interfaces.Accounts
@using UI.SharedComponents.Components.StaticData

@inject IUiAccountsRepository Repository
@inject ILogger Logger

@if (Value != null)
{
    <RadzenTemplateForm TItem="NewBalanceOperation" Submit="@Submit" OnInvalidSubmit="@OnInvalidSubmit" Data=@Value>
        <RadzenStack Orientation="Orientation.Vertical" Gap="1rem">
            @if (!HideAccountSelector)
            {
                <AccountsSelector Required="true"
                                  @bind-Value=@Value.AccountId
                                  Disabled=@(Disabled || isLoading)/>
            }
            <AssetsSelector @bind-Value=@Value.AssetId Disabled="@(Disabled || isLoading)"/>
            <RadzenFormField Variant="Variant.Text" Text="Amount">
                <RadzenNumeric @bind-Value=@Value.Amount Disabled="@(Disabled || isLoading)" ShowUpDown="false"/>
            </RadzenFormField>
            @* <RadzenFormField Variant="Variant.Text" Text="Price"> *@
            @*     <RadzenNumeric @bind-Value="Value.Price" Disabled="@(Disabled || isLoading)" /> *@
            @* </RadzenFormField> *@
            @* <RadzenFormField Variant="Variant.Text" Text="FxRate"> *@
            @*     <RadzenNumeric @bind-Value="Value.FxRate" Disabled="@(Disabled || isLoading)" /> *@
            @* </RadzenFormField> *@
            @* <RadzenFormField Variant="Variant.Text" Text="Share price"> *@
            @*     <RadzenNumeric @bind-Value="Value.SharePrice" Disabled="@(Disabled || isLoading)" /> *@
            @* </RadzenFormField> *@
            <RadzenFormField Variant="Variant.Text" Text="External Id">
                <RadzenTextBox @bind-Value=@Value.ExternalId Disabled="@(Disabled || isLoading)"/>
            </RadzenFormField>
            <div>
                <RadzenCheckBox TValue="bool" @bind-Value=@Value.IsCorrection Name="isCorrection" Disabled="@(Disabled || CorrectionDisabled || isLoading)"/>
                <RadzenLabel Text="Is correction" Component="isCorrection" Style="margin-left: 8px; vertical-align: middle;"/>
            </div>
            <div>
                <RadzenCheckBox TValue="bool" @bind-Value=@Value.AffectsPnL Name="affectsPnL" Disabled="@(Disabled || CorrectionDisabled || isLoading)"/>
                <RadzenLabel Text="Affects PnL" Component="affectsPnL" Style="margin-left: 8px; vertical-align: middle;"/>
            </div>
            <div>
                <RadzenCheckBox TValue="bool" @bind-Value=@Value.AffectsInvestment Name="affectsInvestment" Disabled="@(Disabled || CorrectionDisabled || isLoading)"/>
                <RadzenLabel Text="Affects investment" Component="affectsInvestment" Style="margin-left: 8px; vertical-align: middle;"/>
            </div>
            <div>
                <RadzenCheckBox TValue="bool" @bind-Value=@Value.AffectsBalance Name="affectsBalance" Disabled="@(Disabled || CorrectionDisabled || isLoading)"/>
                <RadzenLabel Text="Affects balance" Component="affectsBalance" Style="margin-left: 8px; vertical-align: middle;"/>
            </div>
            @* <RadzenFormField Text="Dt" Variant="@Variant.Text"> *@
            @*     <RadzenDatePicker TValue="DateTime?" ShowTime="true" ShowSeconds="true" HourFormat="24" *@
            @*                       Value="@Value.Dt?.ToDateTimeUtc()" *@
            @*                       ValueChanged="@(val => Value.Dt = val != null ? Instant.FromDateTimeUtc(DateTime.SpecifyKind(val.Value, DateTimeKind.Utc)) : null)" *@
            @*                       Disabled="@(Disabled || isLoading)" /> *@
            @* </RadzenFormField> *@
            <RadzenFormField Variant="Variant.Text" Text="Description">
                <RadzenTextBox @bind-Value=@Value.Description Disabled="@(Disabled || isLoading)"/>
            </RadzenFormField>
            <RadzenRow JustifyContent="JustifyContent.End">
                <RadzenButton ButtonType="ButtonType.Submit" ButtonStyle="ButtonStyle.Primary" Variant="Variant.Text" Text="Create" Disabled="@(Disabled || isLoading)"/>
            </RadzenRow>
        </RadzenStack>
    </RadzenTemplateForm>
}

@code {
    [Parameter] public NewBalanceOperation? Value { get; set; }
    [Parameter] public bool Disabled { get; set; }
    [Parameter] public bool CorrectionDisabled { get; set; }
    [Parameter] public bool HideAccountSelector { get; set; }
    [Parameter] public EventCallback OnCompleted { get; set; }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        Value ??= new();
    }

    bool isLoading;

    async Task Submit()
    {
        try
        {
            isLoading = true;
            await Repository.CreateBalanceOperation(Value);
            await OnCompleted.InvokeAsync();
        }
        finally
        {
            isLoading = false;
        }
    }

    async Task OnInvalidSubmit(FormInvalidSubmitEventArgs args)
    {
        Logger.LogWarning(args.ToString());
    }
}

