@using Common.Backtesting
@using NodaTime
@using NodaTime.Text
@using QuantInfra.Common.StaticData.Abstractions
@using QuantInfra.Reporting.Accounts.Abstractions

@* TODO *@
@inject IStaticDataProvider SdProvider 
@inject ContextMenuService ContextMenuService

<RadzenStack>
    <RadzenRow>
        
    </RadzenRow>
    <RadzenRow>
        <RadzenTable>
            <RadzenTableHeader>
                <RadzenTableHeaderRow>
                    <RadzenTableHeaderCell colspan="2">
                        <RadzenButton Variant="Variant.Text" Icon="add" ButtonStyle="ButtonStyle.Success" Style="position: absolute; top: 4px; right: 4px;" Click=@ShowAddDialog />
                        <span>Contract / currency</span>
                    </RadzenTableHeaderCell>
                    @foreach (var i in _selectedDts.OrderBy(i => i))
                    {
                        <RadzenTableHeaderCell>
                            <RadzenButton Variant="Variant.Text" Icon="close" ButtonStyle="ButtonStyle.Danger" Style="position: absolute; top: 4px; right: 4px;" Click=@(() => RemoveItem(i)) />
                            <span>@i</span>
                        </RadzenTableHeaderCell>
                        @if (_cashFlowReports.ContainsKey(i))
                        {
                            <RadzenTableHeaderCell/>
                        }
                    }
                </RadzenTableHeaderRow>
            </RadzenTableHeader>
            <RadzenTableBody>
                
                <RadzenTableRow>
                    <RadzenTableCell colspan=@(_selectedDts.Count * 2 + 1)>
                        <RadzenText TextStyle="TextStyle.H4">Summary</RadzenText>
                    </RadzenTableCell>
                </RadzenTableRow>
                
                <RadzenTableRow>
                    <RadzenTableCell colspan="2">
                        <RadzenText TextStyle="TextStyle.Body2">Equity</RadzenText>
                    </RadzenTableCell>
                    
                    @foreach (var i in _selectedDts.OrderBy(i => i))
                    {
                        <RadzenTableCell Attributes=@(new Dictionary<string, object>() { { "aria-label", "Equity" } })>
                            @* Equity *@
                            @if (_assetsReports.TryGetValue(i, out var r))
                            {
                                <RadzenText TextStyle="TextStyle.Body2">@r.Equity</RadzenText>
                            }
                        </RadzenTableCell>
                        @if (_differences.TryGetValue(i, out var diff))
                        {
                            <RadzenTableCell Attributes=@(new Dictionary<string, object>() { { "aria-label", "Equity difference" } })>
                                @* Equity difference *@
                                <RadzenText TextStyle="TextStyle.Body2">@diff.EquityDifference</RadzenText>
                            </RadzenTableCell>
                        }
                    }
                </RadzenTableRow>
                
                <RadzenTableRow>
                    <RadzenTableCell colspan="2">
                        <RadzenText TextStyle="TextStyle.Body2">Investment</RadzenText>
                    </RadzenTableCell>
                    
                    @foreach (var i in _selectedDts.OrderBy(i => i))
                    {
                        <RadzenTableCell Attributes=@(new Dictionary<string, object>() { { "aria-label", "Investment" } })>
                            @* Equity *@
                            @if (_assetsReports.TryGetValue(i, out var r))
                            {
                                <RadzenText TextStyle="TextStyle.Body2">@r.Investment</RadzenText>
                            }
                        </RadzenTableCell>
                        @if (_differences.ContainsKey(i))
                        {
                            <RadzenTableCell />
                        }
                    }
                </RadzenTableRow>
                
                <RadzenTableRow>
                    <RadzenTableCell colspan="2">
                        <RadzenText TextStyle="TextStyle.Body2">Total PnL</RadzenText>
                    </RadzenTableCell>
                    
                    @foreach (var i in _selectedDts.OrderBy(i => i))
                    {
                        <RadzenTableCell Attributes=@(new Dictionary<string, object>() { { "aria-label", "Equity" } })>
                            @* Equity *@
                            @if (_assetsReports.TryGetValue(i, out var r))
                            {
                                <RadzenText TextStyle="TextStyle.Body2">@(r.Equity - r.Investment)</RadzenText>
                            }
                        </RadzenTableCell>
                        @if (_differences.ContainsKey(i))
                        {
                            <RadzenTableCell />
                        }
                    }
                </RadzenTableRow>
                
                <RadzenTableRow>
                    <RadzenTableCell colspan="2">
                        <RadzenText TextStyle="TextStyle.Body2">Floating PnL</RadzenText>
                    </RadzenTableCell>
                    @foreach (var i in _selectedDts.OrderBy(i => i))
                    {
                        <RadzenTableCell>
                            @if (_assetsReports.TryGetValue(i, out var r))
                            {
                                <RadzenText TextStyle="TextStyle.Body2">@r.TotalFloatingPnL</RadzenText>
                            }
                            else
                            {
                                <RadzenText TextStyle="TextStyle.Body2">0</RadzenText>
                            }
                        </RadzenTableCell>
                        @if (_differences.TryGetValue(i, out var diff))
                        {
                            <RadzenTableCell Attributes=@(new Dictionary<string, object>() { { "aria-label", "Total floating PnL" } })>
                                @* Total floating PnL *@
                                <RadzenText TextStyle="TextStyle.Body2">@diff.TotalFloatingPnLAccountCcy</RadzenText>
                            </RadzenTableCell>
                        }
                    }
                </RadzenTableRow>
                
                <RadzenTableRow>
                    <RadzenTableCell colspan="2">
                        <RadzenText TextStyle="TextStyle.Body2">Realized PnL</RadzenText>
                    </RadzenTableCell>
                    @foreach (var i in _selectedDts.OrderBy(i => i))
                    {
                        <RadzenTableCell />
                        @if (_differences.TryGetValue(i, out var diff))
                        {
                            <RadzenTableCell Attributes=@(new Dictionary<string, object>() { { "aria-label", "Total realized PnL" } })>
                                @* Total PnL *@
                                <RadzenText TextStyle="TextStyle.Body2">@diff.TotalRealizedPnLAccountCcy</RadzenText>
                            </RadzenTableCell>
                        }
                    }
                </RadzenTableRow>
                
                <RadzenTableRow>
                    <RadzenTableCell colspan="2">
                        <RadzenText TextStyle="TextStyle.Body2">Commissions</RadzenText>
                    </RadzenTableCell>
                    @foreach (var i in _selectedDts.OrderBy(i => i))
                    {
                        <RadzenTableCell />
                        @if (_differences.TryGetValue(i, out var diff))
                        {
                            <RadzenTableCell Attributes=@(new Dictionary<string, object>() { { "aria-label", "Total commissions" } })>
                                @* Total PnL *@
                                <RadzenText TextStyle="TextStyle.Body2">@diff.CommissionsAccountCcy</RadzenText>
                            </RadzenTableCell>
                        }
                    }
                </RadzenTableRow>
                
                <RadzenTableRow>
                    <RadzenTableCell colspan="2">
                        <RadzenText TextStyle="TextStyle.Body2">Future commissions</RadzenText>
                    </RadzenTableCell>
                    @foreach (var i in _selectedDts.OrderBy(i => i))
                    {
                        <RadzenTableCell />
                        @if (_differences.TryGetValue(i, out var diff))
                        {
                            <RadzenTableCell Attributes=@(new Dictionary<string, object>() { { "aria-label", "Total commissions" } })>
                                @* Total PnL *@
                                <RadzenText TextStyle="TextStyle.Body2">@diff.FutureCommissionsDiff</RadzenText>
                            </RadzenTableCell>
                        }
                    }
                </RadzenTableRow>
                
                <RadzenTableRow>
                    <RadzenTableCell colspan="2">
                        <RadzenText TextStyle="TextStyle.Body2">Net exposure / Total turnover</RadzenText>
                    </RadzenTableCell>
                    @foreach (var i in _selectedDts.OrderBy(i => i))
                    {
                        <RadzenTableCell>
                            @if (_assetsReports.TryGetValue(i, out var r))
                            {
                                <RadzenText TextStyle="TextStyle.Body2">@r.PositionsValueAccountCurrency</RadzenText>
                            }
                            else
                            {
                                <RadzenText TextStyle="TextStyle.Body2">0</RadzenText>
                            }
                        </RadzenTableCell>
                        @if (_cashFlowReports.TryGetValue(i, out var cf))
                        {
                            <RadzenTableCell>
                                <RadzenText TextStyle="TextStyle.Body2">
                                    @Math.Round(cf.Turnover)
                                    @if (_assetsReports.TryGetValue(i, out var r) && r.Investment != 0)
                                    {
                                        <span> (@Math.Round(cf.Turnover / r.Investment))</span>
                                    }
                                </RadzenText>
                            </RadzenTableCell>
                        }
                    }
                </RadzenTableRow>
                
                <RadzenTableRow>
                    <RadzenTableCell colspan="2">
                        <RadzenText TextStyle="TextStyle.Body2">Net leverage (real / inv)</RadzenText>
                    </RadzenTableCell>
                    @foreach (var i in _selectedDts.OrderBy(i => i))
                    {
                        <RadzenTableCell>
                            @if (_assetsReports.TryGetValue(i, out var r))
                            {
                                <RadzenText TextStyle="TextStyle.Body2">@Math.Round(r.NetLeverageEquity, 2) (@Math.Round(r.NetLeverageInvestment, 2))</RadzenText>
                            }
                            else
                            {
                                <RadzenText TextStyle="TextStyle.Body2">0</RadzenText>
                            }
                        </RadzenTableCell>
                        @if (_differences.TryGetValue(i, out var diff))
                        {
                            <RadzenTableCell />
                        }
                    }
                </RadzenTableRow>
                
                <RadzenTableRow>
                    <RadzenTableCell colspan="2">
                        <RadzenText TextStyle="TextStyle.Body2">Total exposure</RadzenText>
                    </RadzenTableCell>
                    @foreach (var i in _selectedDts.OrderBy(i => i))
                    {
                        <RadzenTableCell>
                            @if (_assetsReports.TryGetValue(i, out var r))
                            {
                                <RadzenText TextStyle="TextStyle.Body2">@r.PositionsAbsValueAccountCurrency</RadzenText>
                            }
                            else
                            {
                                <RadzenText TextStyle="TextStyle.Body2">0</RadzenText>
                            }
                        </RadzenTableCell>
                        @if (_differences.TryGetValue(i, out var diff))
                        {
                            <RadzenTableCell />
                        }
                    }
                </RadzenTableRow>
                
                <RadzenTableRow>
                    <RadzenTableCell colspan="2">
                        <RadzenText TextStyle="TextStyle.Body2">Leverage (real / inv)</RadzenText>
                    </RadzenTableCell>
                    @foreach (var i in _selectedDts.OrderBy(i => i))
                    {
                        <RadzenTableCell>
                            @if (_assetsReports.TryGetValue(i, out var r))
                            {
                                <RadzenText TextStyle="TextStyle.Body2">@Math.Round(r.LeverageEquity, 2) (@Math.Round(r.LeverageInvestment, 2))</RadzenText>
                            }
                            else
                            {
                                <RadzenText TextStyle="TextStyle.Body2">0</RadzenText>
                            }
                        </RadzenTableCell>
                        @if (_differences.TryGetValue(i, out var diff))
                        {
                            <RadzenTableCell />
                        }
                    }
                </RadzenTableRow>
                
                @if (_contractRows.Any())
                {
                    <RadzenTableRow>
                        <RadzenTableCell colspan=@(_selectedDts.Count * 2 + 1)>
                            <RadzenText TextStyle="TextStyle.H4">Positions</RadzenText>
                        </RadzenTableCell>
                    </RadzenTableRow>
                }
                
                @foreach (var cid in _contractRows.OrderBy(i => _contractsDict[i].Ticker))
                {
                    <RadzenTableRow>
                        <RadzenTableCell rowspan="8">
                            <RadzenText TextStyle="TextStyle.Body2" Attributes=@(new Dictionary<string, object>() { { "aria-label", "Ticker" } })>@cid</RadzenText>
                            @if (_contractsDict?.ContainsKey(cid) == true)
                            {
                                <RadzenText TextStyle="TextStyle.Body2">(@_contractsDict[cid].Ticker)</RadzenText>
                            }
                        </RadzenTableCell>
                        <RadzenTableCell>
                            <RadzenText TextStyle="TextStyle.Body2">Position / Change (contracts)</RadzenText>
                        </RadzenTableCell>
                        @foreach (var i in _selectedDts.OrderBy(i => i))
                        {
                            <RadzenTableCell Attributes=@(new Dictionary<string, object>() { { "aria-label", "Position volume" } })>
                                @* Volume *@
                                @if (_assetsReports.TryGetValue(i, out var report) && report.Contracts.TryGetValue(cid, out var row))
                                {
                                    <RadzenText TextStyle="TextStyle.Body2">@row.SignedVolume</RadzenText>
                                }
                            </RadzenTableCell>
                            @if (_cashFlowReports.ContainsKey(i))
                            {
                                <RadzenTableCell Attributes=@(new Dictionary<string, object>() { { "aria-label", "Turnover" } })>
                                    @* Turnover *@
                                    @if (_cashFlowReports[i].Contracts.TryGetValue(cid, out var row))
                                    {
                                        <RadzenText TextStyle="TextStyle.Body2">@row.SignedVolume</RadzenText>
                                    }
                                </RadzenTableCell>
                            }
                        }
                    </RadzenTableRow>

                    <RadzenTableRow>
                        <RadzenTableCell>
                            <RadzenText TextStyle="TextStyle.Body2">Value (settl ccy) / -</RadzenText>
                        </RadzenTableCell>
                        @foreach (var i in _selectedDts.OrderBy(i => i))
                        {
                            <RadzenTableCell Attributes=@(new Dictionary<string, object>() { { "aria-label", "Position value" } })>
                                @* Value *@
                                @if (_assetsReports.TryGetValue(i, out var report) && report.Contracts.TryGetValue(cid, out var row))
                                {
                                    <RadzenText TextStyle="TextStyle.Body2">@row.SignedValue</RadzenText>
                                }
                            </RadzenTableCell>
                            @if (_cashFlowReports.ContainsKey(i))
                            {
                                <RadzenTableCell />
                            }
                        }
                    </RadzenTableRow>
                    
                    <RadzenTableRow>
                        <RadzenTableCell>
                            <RadzenText TextStyle="TextStyle.Body2">Value (account ccy) / Turnover</RadzenText>
                        </RadzenTableCell>
                        @foreach (var i in _selectedDts.OrderBy(i => i))
                        {
                            <RadzenTableCell Attributes=@(new Dictionary<string, object>() { { "aria-label", "Position value" } })>
                                @* Value *@
                                @if (_assetsReports.TryGetValue(i, out var report) && report.Contracts.TryGetValue(cid, out var row))
                                {
                                    <RadzenText TextStyle="TextStyle.Body2">@row.SignedValueAccountCurrency</RadzenText>
                                }
                            </RadzenTableCell>
                            @if (_cashFlowReports.ContainsKey(i))
                            {
                                <RadzenTableCell Attributes=@(new Dictionary<string, object>() { { "aria-label", "SignedVolumeAccountCcy" } })>
                                    @* FPnL *@
                                    @if (_cashFlowReports[i].Contracts.TryGetValue(cid, out var row))
                                    {
                                        <RadzenText TextStyle="TextStyle.Body2">@Math.Round(row.Turnover)</RadzenText>
                                    }
                                </RadzenTableCell>
                            }
                        }
                    </RadzenTableRow>
                    
                    <RadzenTableRow>
                        <RadzenTableCell>
                            <RadzenText TextStyle="TextStyle.Body2">Total floating / -</RadzenText>
                        </RadzenTableCell>
                        @foreach (var i in _selectedDts.OrderBy(i => i))
                        {
                            <RadzenTableCell Attributes=@(new Dictionary<string, object>() { { "aria-label", "Position value" } })>
                                @* Value *@
                                @if (_assetsReports.TryGetValue(i, out var report) && report.Contracts.TryGetValue(cid, out var row))
                                {
                                    <RadzenText TextStyle="TextStyle.Body2">@row.TotalFloatingPnL</RadzenText>
                                }
                            </RadzenTableCell>
                            @if (_cashFlowReports.ContainsKey(i))
                            {
                                <RadzenTableCell/>
                            }
                        }
                    </RadzenTableRow>
                    
                    <RadzenTableRow>
                        <RadzenTableCell>
                            <RadzenText TextStyle="TextStyle.Body2">Day floating / -</RadzenText>
                        </RadzenTableCell>
                        @foreach (var i in _selectedDts.OrderBy(i => i))
                        {
                            <RadzenTableCell Attributes=@(new Dictionary<string, object>() { { "aria-label", "Position value" } })>
                                @* Value *@
                                @if (_assetsReports.TryGetValue(i, out var report) && report.Contracts.TryGetValue(cid, out var row))
                                {
                                    <RadzenText TextStyle="TextStyle.Body2">@row.TodayFloatingPnL</RadzenText>
                                }
                            </RadzenTableCell>
                            @if (_cashFlowReports.ContainsKey(i))
                            {
                                <RadzenTableCell/>
                            }
                        }
                    </RadzenTableRow>
                    
                    <RadzenTableRow>
                        <RadzenTableCell>
                            <RadzenText TextStyle="TextStyle.Body2">Equity contribution / -</RadzenText>
                        </RadzenTableCell>
                        @foreach (var i in _selectedDts.OrderBy(i => i))
                        {
                            <RadzenTableCell Attributes=@(new Dictionary<string, object>() { { "aria-label", "Position value" } })>
                                @* Value *@
                                @if (_assetsReports.TryGetValue(i, out var report) && report.Contracts.TryGetValue(cid, out var row))
                                {
                                    <RadzenText TextStyle="TextStyle.Body2">@row.EquityValueAccountCurrency</RadzenText>
                                }
                            </RadzenTableCell>
                            @if (_cashFlowReports.ContainsKey(i))
                            {
                                <RadzenTableCell/>
                            }
                        }
                    </RadzenTableRow>

                    <RadzenTableRow>
                        <RadzenTableCell>
                            <RadzenText TextStyle="TextStyle.Body2">- / RPnL in positions</RadzenText>
                        </RadzenTableCell>
                        @foreach (var i in _selectedDts.OrderBy(i => i))
                        {
                            <RadzenTableCell/>
                            @if (_cashFlowReports.ContainsKey(i))
                            {
                                <RadzenTableCell Attributes=@(new Dictionary<string, object>() { { "aria-label", "Total realized PnL in account currency" } })>
                                    @* RPnL *@
                                    @if (_cashFlowReports[i].Contracts.TryGetValue(cid, out var row))
                                    {
                                        <RadzenText TextStyle="TextStyle.Body2">@row.RealizedPnLAccountCcy</RadzenText>
                                    }
                                </RadzenTableCell>
                            }
                        }
                    </RadzenTableRow>

                    <RadzenTableRow>
                        <RadzenTableCell>
                            <RadzenText TextStyle="TextStyle.Body2">- / Commissions</RadzenText>
                        </RadzenTableCell>
                        @foreach (var i in _selectedDts.OrderBy(i => i))
                        {
                            <RadzenTableCell/>
                            @if (_cashFlowReports.ContainsKey(i))
                            {
                                <RadzenTableCell Attributes=@(new Dictionary<string, object>() { { "aria-label", "Commissions" } })>
                                    @* Commissions *@
                                    @if (_cashFlowReports[i].Contracts.TryGetValue(cid, out var row))
                                    {
                                        <RadzenText TextStyle="TextStyle.Body2">@row.CommissionsInAccountCcy</RadzenText>
                                    }
                                </RadzenTableCell>
                            }
                        }
                    </RadzenTableRow>
                }

                @if (_currencyRows.Any())
                {
                    <RadzenTableRow>
                        <RadzenTableCell colspan=@(_selectedDts.Count * 2 + 1)>
                            <RadzenText TextStyle="TextStyle.H4">Balances</RadzenText>
                        </RadzenTableCell>
                    </RadzenTableRow>
                }

                @foreach (var ccy in _currencyRows)
                {
                    <RadzenTableRow>
                        <RadzenTableCell rowspan="2">
                            <RadzenText TextStyle="TextStyle.Body2" Attributes=@(new Dictionary<string, object>() { { "aria-label", "Currency" } })>@ccy</RadzenText>
                        </RadzenTableCell>
                        <RadzenTableCell>
                            <RadzenText TextStyle="TextStyle.Body2">Balance / Movements</RadzenText>
                        </RadzenTableCell>
                        @foreach (var i in _selectedDts.OrderBy(i => i))
                        {
                            <RadzenTableCell Attributes=@(new Dictionary<string, object>() { { "aria-label", "Balance" } })>
                                @* Value *@
                                @if (_assetsReports.TryGetValue(i, out var report) && report.Currencies.TryGetValue(ccy, out var row))
                                {
                                    <RadzenText TextStyle="TextStyle.Body2">@row.SignedVolume</RadzenText>
                                }
                                else
                                {
                                    <RadzenText TextStyle="TextStyle.Body2">0</RadzenText>
                                }
                            </RadzenTableCell>
                            @if (_cashFlowReports.ContainsKey(i))
                            {
                                <RadzenTableCell Attributes=@(new Dictionary<string, object>() { { "aria-label", "Turnover" } })>
                                    @* Turnover *@
                                    @if (_cashFlowReports[i].Currencies.TryGetValue(ccy, out var row))
                                    {
                                        <RadzenText TextStyle="TextStyle.Body2">@(row.Movements + row.Commissions)</RadzenText>
                                    }
                                    else
                                    {
                                        <RadzenText TextStyle="TextStyle.Body2">0</RadzenText>
                                    }
                                </RadzenTableCell>
                            }
                        }
                    </RadzenTableRow>
                    <RadzenTableRow>
                        <RadzenTableCell>
                            <RadzenText TextStyle="TextStyle.Body2">Value</RadzenText>
                        </RadzenTableCell>
                        @foreach (var i in _selectedDts.OrderBy(i => i))
                        {
                            <RadzenTableCell Attributes=@(new Dictionary<string, object>() { { "aria-label", "Value in account currency" } })>
                                @* Value *@
                                @if (_assetsReports.TryGetValue(i, out var report) && report.Currencies.TryGetValue(ccy, out var row))
                                {
                                    <RadzenText TextStyle="TextStyle.Body2">@row.SignedValue</RadzenText>
                                }
                                else
                                {
                                    <RadzenText TextStyle="TextStyle.Body2">0</RadzenText>
                                }
                            </RadzenTableCell>
                            @if (_cashFlowReports.ContainsKey(i))
                            {
                                <RadzenTableCell />
                            }
                        }
                    </RadzenTableRow>
                }
            </RadzenTableBody>
        </RadzenTable>
    </RadzenRow>
</RadzenStack>

@code {
    [Parameter, EditorRequired] public ActionResult Data { get; set; }
    [Parameter] public Instant? TestStartDt { get; set; }

    int _strategyId;
    HashSet<Instant> _selectedDts = new();
    List<Instant> _availableDts = new();
    Dictionary<Instant, AssetsReport> _assetsReports = new();
    Dictionary<Instant, CashFlowReport> _cashFlowReports = new();
    Dictionary<Instant, Difference> _differences = new();
    IReadOnlyCollection<Contract>? _contracts;
    Dictionary<int, Contract>? _contractsDict = new();
    HashSet<int> _contractRows = new();
    HashSet<int> _currencyRows = new();

    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();

        await OnStrategyChanged(Data.StrategyConfigs.First().StrategyId);
    }

    private async Task OnStrategyChanged(int strategyId)
    {
        _strategyId = strategyId;
        _selectedDts.Clear();
        _assetsReports.Clear();
        _cashFlowReports.Clear();
        
        _availableDts = Data.Returns[_strategyId].Select(r => r.Dt).OrderBy(r => r).ToList();

        var contractIds = Data.Trades.Select(t => t.ContractId)
            .Union(Data.EndOfDayPositions.Select(p => p.ContractId))
            .Distinct()
            .ToList();
        
        _contracts = await Task.Run(() => SdProvider.GetContracts(contractIds));
        _contractsDict = _contracts.ToDictionary(c => c.ContractId);
        
        AddPoint(TestStartDt ?? Data.Returns[_strategyId].First().Dt);
        AddPoint(Data.Returns[_strategyId].Last().Dt);
    }

    private void AddPoint(Instant dt)
    {
        if (_selectedDts.Add(dt))
        {
            var assets = AssetsReport.Create(_strategyId, dt, Data.EndOfDayPositions, Data.EndOfDayBalances, Data.PositionValues, 
                Data.Returns[_strategyId]);
            _assetsReports[dt] = assets;

            var prevDt = _selectedDts.Where(x => x < dt).Select(x => (Instant?)x).DefaultIfEmpty(null).Max();
            if (prevDt is not null)
            {
                _cashFlowReports.Remove(prevDt.Value);
                _differences.Remove(prevDt.Value);
                
                AddCashFlowReport(prevDt.Value, dt);
            }
            
            var nextDt = _selectedDts.Where(x => x > dt).Select(x => (Instant?)x).DefaultIfEmpty(null).Min();
            if (nextDt is not null)
            {
                AddCashFlowReport(dt, nextDt.Value);
            }

            _contractRows = _assetsReports.Values.SelectMany(r => r.Contracts.Keys)
                .Union(_cashFlowReports.Values.SelectMany(r => r.Contracts.Keys))
                .Distinct()
                .ToHashSet();
            
            _currencyRows = _assetsReports.Values.SelectMany(r => r.Currencies.Keys)
                .Union(_cashFlowReports.Values.SelectMany(r => r.Currencies.Keys))
                .Distinct()
                .ToHashSet();
        }
    }
    
    private void RemoveItem(Instant dt)
    {
        if (_selectedDts.Remove(dt))
        {
            _assetsReports.Remove(dt);
            _differences.Remove(dt);
            _cashFlowReports.Remove(dt);
            
            var prevDt = _selectedDts.Where(x => x < dt).Select(x => (Instant?)x).DefaultIfEmpty(null).Max();
            var nextDt = _selectedDts.Where(x => x > dt).Select(x => (Instant?)x).DefaultIfEmpty(null).Min();

            if (prevDt is not null && nextDt is null)
            {
                _differences.Remove(prevDt.Value);
                _cashFlowReports.Remove(prevDt.Value);
            }
            
            if (prevDt is not null && nextDt is not null)
            {
                _differences.Remove(prevDt.Value);
                _cashFlowReports.Remove(prevDt.Value);
                AddCashFlowReport(prevDt.Value, nextDt.Value);
            }
            
            _contractRows = _assetsReports.Values.SelectMany(r => r.Contracts.Keys)
                .Union(_cashFlowReports.Values.SelectMany(r => r.Contracts.Keys))
                .Distinct()
                .ToHashSet();
            
            _currencyRows = _assetsReports.Values.SelectMany(r => r.Currencies.Keys)
                .Union(_cashFlowReports.Values.SelectMany(r => r.Currencies.Keys))
                .Distinct()
                .ToHashSet();
        }
    }

    private void AddCashFlowReport(Instant from, Instant to)
    {
        var cashFlow = CashFlowReport.Create(_strategyId, from, to, Data.EndOfDayPositions,
            Data.PositionCloses, Data.Trades, _contracts!);
        _cashFlowReports.Add(from, cashFlow);
                
        var agg = cashFlow.Contracts.Values.Aggregate(
            new { FloatingPnLAccountCcy = 0m, RealizedPnLAccountCcy = 0m, CommissionsAccountCcy = 0m, },
            (memo, r) => new
            {
                FloatingPnLAccountCcy = memo.FloatingPnLAccountCcy + r.FloatingPnLAccountCcy,
                RealizedPnLAccountCcy = memo.RealizedPnLAccountCcy + r.RealizedPnLAccountCcy,
                CommissionsAccountCcy = memo.CommissionsAccountCcy + r.CommissionsInAccountCcy,
            }
        );

        var unaccountedCommissionsDiff =
            _assetsReports[to].Contracts.Values.Select(c => c.UnaccountedCommissionsAccountCurrency).DefaultIfEmpty(0).Sum()
            - _assetsReports[from].Contracts.Values.Select(c => c.UnaccountedCommissionsAccountCurrency).DefaultIfEmpty(0).Sum();
        
        _differences.Add(from, new(
            _assetsReports[to].Equity - _assetsReports[from].Equity,
            agg.RealizedPnLAccountCcy + agg.FloatingPnLAccountCcy + agg.CommissionsAccountCcy,
            agg.RealizedPnLAccountCcy,
            agg.FloatingPnLAccountCcy,
            agg.CommissionsAccountCcy,
            unaccountedCommissionsDiff
        ));
    }

    record Difference(
        decimal EquityDifference,
        decimal TotalCalculatedPnL,
        decimal TotalRealizedPnLAccountCcy,
        decimal TotalFloatingPnLAccountCcy,
        decimal CommissionsAccountCcy,
        decimal FutureCommissionsDiff
    );

    private void ShowAddDialog(MouseEventArgs args)
    {
        ContextMenuService.Open(args,
            ds =>
                @<RadzenMenu Click="OnMenuItemClick" Style="max-height: 30vh; overflow-y: scroll;">
                    @foreach (var i in _availableDts)
                    {
                        <RadzenMenuItem Text=@InstantPattern.ExtendedIso.Format(i) Value=@i Disabled=@_selectedDts.Contains(i) />
                    }
                </RadzenMenu>
        );
    }

    private void OnMenuItemClick(MenuItemEventArgs obj)
    {
        AddPoint((Instant)obj.Value);
        ContextMenuService.Close();
    }
}