@using QuantInfra.Common.Backtesting.Abstractions
@using QuantInfra.Sdk.Backtesting
@using QuantInfra.UI.Interfaces.Backtesting
@inject ITestServer TestServer
@inject IUiTestUnitsRepository Repository
@inject BrowserStorage Storage

<RadzenStack Gap="1rem">
    <RadzenRow>
        <RadzenColumn Size="12">
            <RadzenAccordion Style="width: 100%;">
                <Items>
                    <RadzenAccordionItem Text="Select action">
                        <RadzenStack>
                            <RadzenRow>
                                <RadzenColumn Size="12" Style="min-width: 150px; max-width: 250px;">
                                    <RadzenFormField Variant="Variant.Text" Text="Action">
                                        <RadzenDropDown TValue="string" Data="@_actions" @bind-Value=@_model.Action Disabled=@(_isLoading || _actionsLoading)/>
                                    </RadzenFormField>
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenStack>
                    </RadzenAccordionItem>
                    
                    <RadzenAccordionItem Text="Configure parameters">
                        <TestExecutorOptionsForm Value=@_model.TestExecutorOptions Disabled=@(_isLoading || _isRunning)/>
                    </RadzenAccordionItem>
                    
                    <RadzenAccordionItem Text="Test action options">
                        <RadzenStack>
                            <RadzenRow>
                                <RadzenButton Text="Get sample options" 
                                              ButtonStyle="ButtonStyle.Info"
                                              Variant="Variant.Text"
                                              Click=@GetSampleParams  
                                              Disabled=@(_isLoading || _isRunning || string.IsNullOrEmpty(_model.Action)) />
                                <RadzenButton Text="Validate"
                                              ButtonStyle="ButtonStyle.Primary"
                                              Variant="Variant.Text"
                                              Click=@(() => ValidateParams(_model.Data))
                                              Disabled=@(_isLoading || _isRunning || string.IsNullOrEmpty(_model.Action))/>
                            </RadzenRow>
                            <RadzenRow>
                                <RadzenTextArea @bind-Value=@_model.Data
                                                                                                                                                                                                @bind-Value:after=@(() => _validationSuccessful = false)
                                                Style="width: 100%; height: 30rem;"
                                                Disabled=@(_isLoading || _isRunning)/>
                            </RadzenRow>
                            @if (_validationError != null)
                            {
                                <RadzenRow>
                                    <RadzenAlert AllowClose="false" AlertStyle="AlertStyle.Danger" Variant="Variant.Text">
                                        @_validationError
                                    </RadzenAlert>
                                </RadzenRow>
                            }
                            @if (_validationSuccessful)
                            {
                                <RadzenRow>
                                    <RadzenAlert AllowClose="false" AlertStyle="AlertStyle.Success" Variant="Variant.Text">
                                        OK
                                    </RadzenAlert>
                                </RadzenRow>
                            }
                        </RadzenStack>
                    </RadzenAccordionItem>
                    
                    <RadzenAccordionItem Text="Metrics">
                        <RadzenStack>
                            <RadzenRow>
                                <RadzenColumn Size="12" Style="min-width: 150px; max-width: 250px;">
                                    <RadzenFormField Variant="Variant.Text" Text="Metrics calculator">
                                        <RadzenDropDown TValue="string" Data="@_calculators" @bind-Value=@_model.Calculator Disabled=@(_isLoading || _calculatorsLoading) AllowClear="true"/>
                                    </RadzenFormField>
                                </RadzenColumn>
                            </RadzenRow>
                            
                            @if (!string.IsNullOrEmpty(_model.Calculator))
                            {
                                <RadzenRow>
                                    <RadzenButton Text="Get sample options"
                                                  ButtonStyle="ButtonStyle.Info"
                                                  Variant="Variant.Text"
                                                  Click=@GetSampleOptions
                                                  Disabled=@(_isLoading || _isRunning || string.IsNullOrEmpty(_model.Calculator))/>
                                    @* <RadzenButton Text="Validate" *@
                                    @*               ButtonStyle="ButtonStyle.Primary" *@
                                    @*               Variant="Variant.Text" *@
                                    @*               Click=@(() => ValidateParams(_model.Data)) *@
                                    @*               Disabled=@(_isLoading || _isRunning || string.IsNullOrEmpty(_model.Calculator))/> *@
                                </RadzenRow>
                                <RadzenRow>
                                    <RadzenTextArea @bind-Value=@_model.CalculatorData
                                                    Style="width: 100%; height: 30rem;"
                                                    Disabled=@(_isLoading || _isRunning)/>
                                </RadzenRow>
                                @* @if (_validationError != null) *@
                                @* { *@
                                @*     <RadzenRow> *@
                                @*         <RadzenAlert AllowClose="false" AlertStyle="AlertStyle.Danger" Variant="Variant.Text"> *@
                                @*             @_validationError *@
                                @*         </RadzenAlert> *@
                                @*     </RadzenRow> *@
                                @* } *@
                                @* *@
                                @* @if (_validationSuccessful) *@
                                @* { *@
                                @*     <RadzenRow> *@
                                @*         <RadzenAlert AllowClose="false" AlertStyle="AlertStyle.Success" Variant="Variant.Text"> *@
                                @*             OK *@
                                @*         </RadzenAlert> *@
                                @*     </RadzenRow> *@
                                @* } *@
                            }
                        </RadzenStack>
                    </RadzenAccordionItem>
                    
                    <RadzenAccordionItem Text="Contract overrides">
                        <RadzenStack>
                            <RadzenRow>
                                <RadzenColumn Size="12">
                                    <div>
                                        <RadzenCheckBox TValue="bool" Value="@(_model.ContractOverride != null)" ValueChanged="@OnUseOverrideChanged" Name="UseOverride"
                                                        Disabled=@(_isLoading || _isRunning)/>
                                        <RadzenLabel Text="Use contracts override" Component="UseOverride" class="rz-ms-2"/>
                                    </div>
                                </RadzenColumn>
                            </RadzenRow>
                            <RadzenRow>
                                <RadzenColumn Size="12">
                                    <ContractOverrideForm Contract="@_model.ContractOverride" Disabled=@(_isLoading || _isRunning) />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenStack>
                    </RadzenAccordionItem>
                    
                    <RadzenAccordionItem Text="Persist results">
                        <RadzenStack>
                            <RadzenRow>
                                <RadzenColumn Size="12">
                                    <PersistOptionsForm Value="@_model.PersistOptions" Disabled=@(_isLoading || _isRunning) />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenStack>
                    </RadzenAccordionItem>
                    
                    <RadzenAccordionItem Text="Run">
                        <RadzenStack>
                            <RadzenRow>
                                <RadzenColumn>
                                    <RadzenStack Orientation="Orientation.Horizontal">
                                        <RadzenButton Text="Run" ButtonStyle="ButtonStyle.Success" Click="@RunTest" Variant="Variant.Text" 
                                                      Disabled=@(_validationError != null || string.IsNullOrEmpty(_model.Action)) 
                                                      IsBusy=@(_isLoading || _isRunning) BusyText="Running" />
                                    </RadzenStack>
                                </RadzenColumn>
                            </RadzenRow>
                            @if (_mdReqs is not null)
                            {
                                <RadzenDataGrid TItem="RequiredMarketDataUnit" Data=@_mdReqs AllowSorting="true">
                                    <Columns>
                                        <RadzenDataGridColumn Title="ContractId" Property=@nameof(RequiredMarketDataUnit.ContractId) Width="150px"/>
                                        <RadzenDataGridColumn Title="Ticker" Property=@nameof(RequiredMarketDataUnit.Ticker) Width="150px"/>
                                        <RadzenDataGridColumn Title="StreamId" Property=@nameof(RequiredMarketDataUnit.StreamId) Width="150px"/>
                                        <RadzenDataGridColumn Title="Stream name" Property=@nameof(RequiredMarketDataUnit.StreamTicker) Width="150px"/>
                                        <RadzenDataGridColumn Title="OK?" Property=@nameof(RequiredMarketDataUnit.IsOk) Width="100px"/>
                                        <RadzenDataGridColumn Title="Message" Property=@nameof(RequiredMarketDataUnit.Message) MinWidth="200px"/>
                                    </Columns>
                                </RadzenDataGrid>
                            }
                        </RadzenStack>
                    </RadzenAccordionItem>
                </Items>
            </RadzenAccordion>
        </RadzenColumn>
    </RadzenRow>
    @if (_status is not null)
    {
        <RadzenRow>
            <RadzenColumn Size="12">
                <RadzenCard>
                    <RadzenStack>
                        <RadzenRow>
                            <span>Status: </span>
                            @if (_status is not null)
                            {
                                <span>@_status.Status</span>
                            }
                        </RadzenRow>
                        <RadzenRow>
                            <span>Test Id: </span>
                            @if (_status is not null)
                            {
                                <span>@_status.TestId</span>
                            }
                        </RadzenRow>
                        @if (_status?.Status == TestUnitStatus.Running)
                        {
                            <RadzenRow>
                                <span>Completed: </span>
                                <span>@_status.StatusMessage</span>
                            </RadzenRow>
                        }
                        @if (_status?.Status == TestUnitStatus.Failed)
                        {
                            <RadzenRow>
                                <RadzenAlert AllowClose="false" AlertStyle="AlertStyle.Danger" Variant="Variant.Text">
                                    @_status.StatusMessage
                                </RadzenAlert>
                            </RadzenRow>
                        }
                        @if (_status?.Status == TestUnitStatus.Queued || _status?.Status == TestUnitStatus.Running)
                        {
                            <RadzenRow>
                                <RadzenButton Text="Cancel" Variant="Variant.Text" ButtonStyle="ButtonStyle.Danger"/> @* Click=@ViewModel.CancelRun *@
                            </RadzenRow>
                        }
                        @if (_status?.Status == TestUnitStatus.Completed)
                        {
                            <RadzenRow>
                                <span>@_status.StatusMessage</span>
                            </RadzenRow>
                            <RadzenRow>
                                <RadzenLink Text="Results" Path=@($"/tests/history/{_status.TestId}")></RadzenLink>
                            </RadzenRow>
                        }
                    </RadzenStack>
                </RadzenCard>
            </RadzenColumn>
        </RadzenRow>
    }
    @if (_runError is not null)
    {
        <RadzenRow>
            <RadzenColumn Size="12">
                <RadzenCard>
                    <RadzenAlert AllowClose="false" AlertStyle="AlertStyle.Danger" Variant="Variant.Text">
                        @_runError
                    </RadzenAlert>
                </RadzenCard>
            </RadzenColumn>
        </RadzenRow>
    }
</RadzenStack>


@code {
    private const string NewTestStorageKey = "new-test";
    private NewTestModel _model = new();
    private IReadOnlyCollection<string> _actions, _calculators;
    private bool _isLoading, _actionsLoading, _isRunning, _calculatorsLoading;
    private IReadOnlyCollection<RequiredMarketDataUnit>? _mdReqs;
    private QuantInfra.Common.Interfaces.Api.Backtesting.TestUnitStatusRecord? _status;
    private string? _runError;
    private string? _validationError;
    private bool _validationSuccessful;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        await Task.WhenAll(LoadActions(), LoadCalculators());
        _model = await Storage.GetAsync<NewTestModel>(NewTestStorageKey) ?? new();
    }

    private async Task LoadActions()
    {
        _actionsLoading = true;
        try
        {
            _actions = await TestServer.GetSupportedActionsAsync();
        }
        catch {}
        finally
        {
            _actionsLoading = false;
        }
    }
    
    private async Task LoadCalculators()
    {
        _calculatorsLoading = true;
        try
        {
            _calculators = await TestServer.GetSupportedMetricsCalculatorsAsync();
        }
        catch {}
        finally
        {
            _calculatorsLoading = false;
        }
    }
    
     private async Task ValidateParams(string? json)
     {
         try
         {
             _isLoading = true;
             var validationResult = await TestServer.ValidateParamsAsync(_model.Action, json);

             if (!validationResult.IsOk)
             {
                 _validationError = validationResult.ErrorMessage;
                 return;
             }

             _validationError = null;
             _validationSuccessful = true;
             await SaveOptionsAsync();
             _model.Data = json;
         }
         catch (Exception e)
         {
             _validationError = e.Message;
         }
         finally
         {
             _isLoading = false;
         }
     }

     private async Task RunTest()
     {
         try
         {
             _isLoading = true;
             _mdReqs = null;
             _status = null;
             _runError = null;
             await SaveOptionsAsync();
             var unit = _model.ToTestUnit();
             await Repository.CreateTestUnit(unit);
             var mdReqs = await TestServer.ValidateRequiredMarketDataAsync(unit.TestId);
             if (mdReqs.Any(r => !r.IsOk))
             {
                 _mdReqs = mdReqs;
                 await Repository.DeleteTestUnit(unit.TestId);
                 _isLoading = false;
                 return;
             }

             _isRunning = true;
             var ct = new CancellationTokenSource();
             await Task.WhenAny(
                 TestServer.RunAsync(unit.TestId),
                 Task.Run(async () =>
                 {
                     await Task.Delay(200);
                     do
                     {
                         _status = await Repository.GetTestUnitStatus(unit.TestId);
                         StateHasChanged();
                         if (_status.Status == TestUnitStatus.Completed || _status.Status == TestUnitStatus.Failed) return;
                         await Task.Delay(1000);
                     } while (!ct.IsCancellationRequested);
                 })
             );
             await ct.CancelAsync();
             _status = await Repository.GetTestUnitStatus(unit.TestId);
         }
         catch (Exception ex)
         {
             _runError = ex.Message;
         }
         finally
         {
             _isLoading = false;
             _isRunning = false;
         }
     }

     private async Task GetSampleParams()
     {
         try
         {
             _isLoading = true;
             _model.Data = await TestServer.GetSampleActionParamsAsync(_model.Action);
         }
         catch
         {
         }
         finally
         {
             _isLoading = false;
         }
     }
     
     private async Task GetSampleOptions()
     {
         try
         {
             if (string.IsNullOrEmpty(_model.Calculator)) return;
             _isLoading = true;
             _model.CalculatorData = await TestServer.GetSampleMetricsCalculatorOptionsAsync(_model.Calculator);
         }
         catch { }
         finally
         {
             _isLoading = false;
         }
     }

     private async Task SaveOptionsAsync()
     {
         await Storage.SetAsync(NewTestStorageKey, _model);
     }

     private void OnUseOverrideChanged(bool value)
     {
         if (value) _model.ContractOverride = new();
         else _model.ContractOverride = null;
     }

}