@using QuantInfra.Connectors.Binance.Common
@using UI.Interfaces
@using UI.Interfaces.Binance

@inject IUiBinanceMarketDataClient Repository

<EditableView TItem="BinanceUsdmMarketDataSubscriptionView"
              TFilter="EmptyFilter"
              Filter="@new()"
              SearchButtonText="Refresh"
              EmptyText="No active subscriptions"
              SearchFunc=@Repository.GetActiveSubscriptionsAsync
              RunSearchImmediately="true"
              ButtonsColumnWidth="54px"
              @ref="_view">
    <CreateButton>
        <CreateSubscriptionButton ShowButton="true" Market="BinanceMarket.UsdmFutures" OnCompleted="@(() => _view.RunSearch())" />
    </CreateButton>
    <CustomItemButtons Context="subscription">
        <RadzenButton ButtonStyle="ButtonStyle.Danger" Variant="Variant.Text" Icon="close" Click="@(() => DeleteSubscription(subscription))"
                      Disabled="@(_isLoading && subscription.Data?.SubscriptionId != _deletedSubscriptionId)"
                      IsBusy="@(_isLoading && subscription.Data?.SubscriptionId == _deletedSubscriptionId)"/>
    </CustomItemButtons>
    <Columns>
        <RadzenDataGridColumn TItem="BinanceUsdmMarketDataSubscriptionView"
                              Property="Data.Id"
                              Title="Subscription ID"
                              Width="270px">
            <Template Context="data">
                @if (data.Data == null && data.AltData == null) // child subscription, case: exists in memory, not in db
                {
                    <span style="overflow: visible;">
                        <RadzenText TextStyle="TextStyle.Body1">Subscription doesn't exist in database'</RadzenText>
                    </span>
                }
                else if (data.AltData != null)
                {
                    <span style='color: var(--rz-danger-light)'>@data.Data.SubscriptionId</span>
                    <RadzenBadge BadgeStyle="BadgeStyle.Danger" Text="Data mismatch"/>
                }
                else
                {
                    <span>@data.Data.SubscriptionId</span>
                }
            </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="BinanceUsdmMarketDataSubscriptionView"
                              Property="Data.Symbol"
                              Title="Symbol"
                              Width="100px"/>
        <RadzenDataGridColumn TItem="BinanceUsdmMarketDataSubscriptionView"
                              Property="Data.SubscriptionType"
                              Title="Type"
                              Width="100px"/>
        <RadzenDataGridColumn TItem="BinanceUsdmMarketDataSubscriptionView" Title="Stream ID" Width="140px">
            <Template Context="s">
                <IdNameView Id="@s.Data?.StreamId" Name="@s.Data?.StreamName" RoutePrefix="static-data/streams" />
            </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="BinanceUsdmMarketDataSubscriptionView"
                              Property="Data.LastBar.CloseDt"
                              Title="Last bar ts"
                              Width="180px"/>
        <RadzenDataGridColumn TItem="BinanceUsdmMarketDataSubscriptionView"
                              Property="Data.LastBar.Close"
                              Title="Last price"
                              Width="100px"/>
    </Columns>
</EditableView>

@code {
    private EditableView<BinanceUsdmMarketDataSubscriptionView, EmptyFilter> _view;
    private bool _isLoading;
    private int _deletedSubscriptionId;
    
    private async Task DeleteSubscription(BinanceUsdmMarketDataSubscriptionView subscription)
    {
        try
        {
            _isLoading = true;
            _deletedSubscriptionId = subscription.Data?.SubscriptionId ?? subscription.AltData.Data.SubscriptionId;
            await Repository.DeleteSubscriptionAsync(BinanceMarket.UsdmFutures, 
                subscription.Data?.ClientName ?? subscription.AltData.Data.ClientName, _deletedSubscriptionId);
            await (_view?.RunSearch() ?? Task.CompletedTask);
        }
        catch { }
        finally
        {
            _isLoading = true;
            _deletedSubscriptionId = 0;
        }
    }
}