@using Microsoft.AspNetCore.Components.Routing
@using UI.App.Platform.Layout

<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

@* @code { *@
@*     [CascadingParameter] *@
@*     private HttpContext HttpContext { get; set; } *@
@* *@
@*     [Inject] *@
@*     private ThemeService ThemeService { get; set; } *@
@* *@
@*     protected override void OnInitialized() *@
@*     { *@
@*         base.OnInitialized(); *@
@* *@
@*         if (HttpContext != null) *@
@*         { *@
@*             var theme = HttpContext.Request.Cookies["MyApplicationTheme"]; *@
@* *@
@*             if (!string.IsNullOrEmpty(theme)) *@
@*             { *@
@*                 ThemeService.SetTheme(theme, false); *@
@*             } *@
@*         } *@
@*     } *@
@* } *@